-r requirements.txt
pandas>=2.2.3
graphviz
scikit-learn>=1.6.1
matplotlib>=3.10.1
jax>=0.6.0
jaxtyping>=0.3.2
equinox>=0.12.1
mlflow>=2.22.0
optax>=0.2.4
pyjpt>=0.1.32
random_events>=4.1.17
typing_extensions>=4.13.2
probabilistic_model>=7.0.1
mlflow-skinny>=2.22.0
